td, th {
    font: 10pt sans-serif;
}

tr {
    margin-bottom: 2px;
}

td {
    margin-right: 5px;
}

.input-success {
    background: rgb(150, 255, 130);
}

.input-failure {
    background: rgb(255, 150, 130);
}